langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
pymupdf
langchain-text-splitters
lxml
sentence_transformers
langchain_huggingface
faiss_cpu
streamlit
langchain_groq
langchain_core
fastapi
uvicorn
langserve
sse_starlette
pydantic==1.10.13
Cython
transformers
langchain_chroma